*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg,lightblue, rgb(207, 187, 120));
    padding: 10px;
}

.todoApp{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px; 
    text-align: center;
}

.todoApp>h2{
    color: #002765;
    margin: 20px 20px; 
    padding: 20px 20px; 
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 18px;
    margin: 20px 0px;
}
#inputBox{
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
    background: transparent;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(43, 78, 90);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button:active{
    background: rgb(25, 50, 58);
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    text-align: left;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;
    ;
}


ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}